<div>
    <form action='@Url.Action("AgregarCandidato")'> 
        <h3>Apellido:</h3><input type="text" name="Apellido"><br>
        <h3>Nombre:</h3><input type="text" name="Nombre:"><br>
        <h3>Fecha de Nacimiento:</h3><input type="date" name="FechaNacimiento"><br>
        <h3>Foto:</h3><input type="text" name="Foto"><br>
        <h3>Postulacion:</h3><input type="text" name="Postulacion"><br>
        <input type="submit" value="Agregar Candidato">
    </form>
</div>