<section class="creditos">
    <div>
        <img src="~/img/ame.jpeg">
        <h3>Amélie Torre Walsh</h3>
        <p>Institucion educacional: Ort Almagro</p>
        <p>Developing and Design</p>
    </div>
    <div>
        <img src="~/img/emi.jpeg">
        <h3>Maria Emilia Gayoso Martinez</h3>
        <p>Institucion educacional: Ort Almagro</p>
        <p>Developing and Design</p>
    </div>
    <main>
        <p>⚠️ Inspiraciones en paginas oficiales del gobierno. Consultas hechas a Leo y Binker. Con esfuerzo y dedicacion se llego a la produccion entregada.</p>
    </main>
</section>