<div>
    @{
        ViewData["Title"] = "Index";
    }
    <nav>
        <ul>
            <li><a href='@Url.Action("Index")'>🇦🇷</a></li>
            <li class="Presente"><a href='@Url.Action("Creditos")'>Credits</a></li>
            <li><a href='@Url.Action("Elecciones")'>Elecciones 2023</a></li>
        </ul>
</nav> 
</div>