<div>
    @{
        ViewData["Title"] = "Index";
    }
    <nav>
        <ul>
            <li><a href="Index.cshtml">Home</a></li>
            <li><a href="Creditos.cshtml">Credits</a></li>
            <li class="Presente"><a href="Eleccionesinfo.cshtml">Info</a></li>
        </ul>
    </nav> 
</div>