<div>
    @{
        ViewData["Title"] = "Index";
    }
    <nav>
        <ul>
            <li><a href='@Url.Action("Index")'>游뷣릖</a></li>
            <li><a href='@Url.Action("Creditos")'>Credits</a></li>
            <li class="Presente"><a href='@Url.Action("Eleccionesinfo")'>Elecciones 2023</a></li>
        </ul>
</nav> 
</div>
<body>
    <article>
    <h1>Las elecciones de 2023</h1>
    <h2 class="subtitulo">쯈u칠 se vota?</h2>
    <p class="info-texto">Los argentinos volver치n a las urnas este a침o para elegir presidente de la Naci칩n, que asumir치 el pr칩ximo 10 de diciembre.
        Adem치s se renovar치 la mitad del Congreso nacional, y tambi칠n se votar치n gobernadores,
        legisladores, y otros cargos provinciales y municipales.</p>
    <p class="info-texto">En concreto, adem치s de Presidente y Vicepresidente, se votar치 jefe de Gobierno de la Ciudad Aut칩noma 
        de Buenos Aires, y 21 gobernaciones (las excepciones son Santiago del Estero y Corrientes, que votaron en 2021).
        <br>En cuanto al Congreso, se renuevan 130 bancas en Diputados y 24 en el Senado.
        <br>En las provincias se votar치, adem치s de gobernadores, intendentes, legisladores, y concejales municipales, entre otros cargos electivos.</p>
    <h2 class="subtitulo">쮺u치ndo son?</h2>
    <p class="info-texto">Las elecciones Primarias, Abiertas, Simult치neas y Obligatorias (PASO) deben realizarse, seg칰n la Ley 26.571, 
        el segundo domingo de agosto, en este caso ser칤a el 13 de agosto.
        <br>En cuanto a las Generales deben realizarse el cuarto domingo de octubre, que este a침o es el 22 de octubre.
        <br>Para ser electo presidente en primera vuelta, el candidato m치s votado debe obtener el 45% de los sufragios
         o el 40% y una diferencia de 10 puntos con el segundo postulante. Caso contrario habr치 balotaje, que seg칰n la 
         ley debe realizarse dentro de los 30 d칤as de realizada la elecci칩n general.</p>
    <h2 class="subtitulo">쯈u칠 partidos se presentan?</h2>
    <p class="info-texto">Como siempre vuelven las 2 oposiciones, pero este a침o, vemos potencial en un nuevo partido
        <ul id="info-lista-partidos">
            <li>Juntos Por el Cambio</li>
            <li>Frente de Todos</li>
            <li>Carpincho Nordelte침o</li>
        </ul>
    </p>
    </article>
</body>