<div>
    @{
        ViewData["Title"] = "Index";
    }
    
</div>

<article class="elecciones-info">
    <div><img src="~/img/lampara.png" width="40px"><h2>¿Qué se vota?</h2></div>
    <p>Los argentinos volverán a las urnas este año para elegir presidente de la Nación, que asumirá el próximo 10 de diciembre.
        Además se renovará la mitad del Congreso nacional, y también se votarán gobernadores,
        legisladores, y otros cargos provinciales y municipales.</p>
    <p>En concreto, además de Presidente y Vicepresidente, se votará jefe de Gobierno de la Ciudad Autónoma 
        de Buenos Aires, y 21 gobernaciones (las excepciones son Santiago del Estero y Corrientes, que votaron en 2021).
        <br>En cuanto al Congreso, se renuevan 130 bancas en Diputados y 24 en el Senado.
        <br>En las provincias se votará, además de gobernadores, intendentes, legisladores, y concejales municipales, entre otros cargos electivos.</p>
    <div><img src="~/img/calendario.png" width="30px"><h2>¿Cuándo son?</h2></div>
    <p>Las elecciones Primarias, Abiertas, Simultáneas y Obligatorias (PASO) deben realizarse, según la Ley 26.571, 
        el segundo domingo de agosto, en este caso sería el 13 de agosto.
        <br>En cuanto a las Generales deben realizarse el cuarto domingo de octubre, que este año es el 22 de octubre.
        <br>Para ser electo presidente en primera vuelta, el candidato más votado debe obtener el 45% de los sufragios
         o el 40% y una diferencia de 10 puntos con el segundo postulante. Caso contrario habrá balotaje, que según la 
         ley debe realizarse dentro de los 30 días de realizada la elección general.</p>
    <a href="#"><main id="equipo-electoral">
        <div><p>PASO 2023</p></div>
        <img src="~/img/equipo electoral.jpeg">
        <h3>Instituto de Geston Electoral</h3>
        <p>Nuestro increible equipo, tiene un sistema de gestionamiento de la cantidad de argentinos votantes, votos en blanco, verificacion de modificacion de urnas, y un serio compromiso con la mantencion de la objetividad en el sistema electoral de nuestra nacion.</p>
    </main></a>
</article>