<body>
    <header>
        <nav class="header-nav" >
            <a href='@Url.Action("Creditos")'>Créditos</a>
            <a href='@Url.Action("InfoElecciones")'>Elecciones</a>
            <a href='@Url.Action("Index")'>Inicio</a>
        </nav>
    </header>
    <article>
    <h1>Las elecciones de 2023</h1>
    <h2 class="subtitulo">¿Qué se vota?</h2>
    <p class="info-texto">Los argentinos volverán a las urnas este año para elegir presidente de la Nación, que asumirá el próximo 10 de diciembre.
        Además se renovará la mitad del Congreso nacional, y también se votarán gobernadores,
        legisladores, y otros cargos provinciales y municipales.</p>
    <p class="info-texto">En concreto, además de Presidente y Vicepresidente, se votará jefe de Gobierno de la Ciudad Autónoma 
        de Buenos Aires, y 21 gobernaciones (las excepciones son Santiago del Estero y Corrientes, que votaron en 2021).
        <br>En cuanto al Congreso, se renuevan 130 bancas en Diputados y 24 en el Senado.
        <br>En las provincias se votará, además de gobernadores, intendentes, legisladores, y concejales municipales, entre otros cargos electivos.</p>
    <h2 class="subtitulo">¿Cuándo son?</h2>
    <p class="info-texto">Las elecciones Primarias, Abiertas, Simultáneas y Obligatorias (PASO) deben realizarse, según la Ley 26.571, 
        el segundo domingo de agosto, en este caso sería el 13 de agosto.
        <br>En cuanto a las Generales deben realizarse el cuarto domingo de octubre, que este año es el 22 de octubre.
        <br>Para ser electo presidente en primera vuelta, el candidato más votado debe obtener el 45% de los sufragios
         o el 40% y una diferencia de 10 puntos con el segundo postulante. Caso contrario habrá balotaje, que según la 
         ley debe realizarse dentro de los 30 días de realizada la elección general.</p>
    <h2 class="subtitulo">¿Qué partidos se presentan?</h2>
    <p class="info-texto">Como siempre vuelven las 2 oposiciones, pero este año, vemos potencial en un nuevo partido
        <ul id="info-lista-partidos">
            <li>Juntos Por el Cambio</li>
            <li>Frente de Todos</li>
            <li></li>
        </ul>
    </p>
    </article>
</body>