<div>
    @{
        ViewData["Title"] = "Index";
    }
    <main class="lista-partidos-candidatos">
   @foreach (Partido item in ViewBag.ListaPartido)
   {
    <section class="partidoOcandidato">
        <a href='@Url.Action("VerDetallePartido",new {idPartido = item.IdPartido})'>
            <img src="@item.Logo">
            <h1>@item.Nombre</h1>
        </a>
    </section>
   }
    <a href='@Url.Action("AgregarPartido")'><img src="~/img/sum-icon.png"></a>
   </main>
    

</div>