 <nav>
        <ul>
            <li class="Presente"><a href='@Url.Action("Index")'>🇦🇷</a></li>
            <li><a href='@Url.Action("Creditos")'>Credits</a></li>
            <li><a href='@Url.Action("EleccionesInfo")'>Elecciones 2023</a></li>
        </ul>
</nav> 
<div>
    @{
        ViewData["Title"] = "Index";
    }
   
    <section>
    
    </section>
</div>