html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Agregar botón*/
.icono-suma{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icono-suma img{
  width: 15%;
}

body {
  margin: 0;
}

/*FOOTER*/
footer {
  margin: 0px;
  background-color: #37BBED;
  padding: 20px 0;
  text-align: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.info {
  margin: 0px 0px 10px 10px;
  text-align: left;
}
.info p{
  font-size: 15px;
  margin: 2px;
}

*{
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*nav*/
nav
{
    background-color: #37BBED;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
} 
nav ul
{
    margin: 0px;
    padding: 20px 3px;
}
nav ul li
{
    margin: 0px;
    display: inline; 
    padding: 0px;
    background-color: #37BBED;
    vertical-align: middle;
}
nav ul li a:hover:not(.Presente a)
{
    margin: 0px;
    text-decoration:underline;
    border-radius: 30px;
    padding: 20px 50px;
    text-shadow: 0 0 5px #37BBED;
}
nav ul li a
{
    margin: 0px;
    font-size: 20px;
    padding: 20px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    color: #FFFF;
}
/*CSS INDEX*/
.partidoOcandidato{
  border: 2px solid black;
  background-color: #FFF;
  width: 20%;
  padding: 1%;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partidoOcandidato h1
{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  color: #0087b8;
  text-align: center;
}
.partidoOcandidato img
{
  margin-left: 10%;
  width: 80%;
  height: auto;
}

.lista-partidos-candidatos{
  margin-left: 25px;
  display: flex;
  flex-wrap: wrap;
}

/*CSS DetallePartido DetalleCandidato*/
.info-partido .info-candidato{
  margin: 3%,0,3%,5%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}
.especificaciones{
  margin-top: 2%;
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.info-partido .info-candidato img{
  width: 60%;
  margin-right: 100%;
}
.info-partido .info-candidato div {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lista-candidatos {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.lista-candidatos div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1%,1.5%;
  border-radius: 15px;
}
.lista-candidatos div img{
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 8px black;
}
.candidato-particular:hover{
  
}
/*ELECCIONES*/
.elecciones-info
{
  margin: 3%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.elecciones-info div img{
  
  margin: 0;
  float:left;
}
.elecciones-info h1
{
  clear: both;
  font-size: 40px;
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.elecciones-info h2
{
  margin: 8px;
  float: left;
  font-size: 2rem;
  color:#0072bb;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.elecciones-info p
{
  color: black;
  font-size: 20px;
  text-align: justify;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#equipo-electoral{
  width: 80%;
  border-radius: 2%;
  border: 5px solid rgb(29, 29, 121);
}
#equipo-electoral img{
  margin-top: 1%;
  margin-bottom: 1%;
  clear: both;
  width: 100%;
}
#equipo-electoral h3{
  margin: 1%;
  margin-left: 1%;
  color: black;
  text-decoration: none;
}
#equipo-electoral div{
  margin: 1%;
  margin-bottom: 0;
  width: 12%;
  background-color: #c9f0ff;
  border: 2px solid #0087b8;
}
#equipo-electoral div p{
  
  margin:3px;
  text-align:center;
}
#equipo-electoral p{
  margin: 1%;
}


/*Formulario*/
.gran-form{
  text-align: center;
  display: flex;
  justify-content: center;
}
.formulario
{
  margin-bottom: 25px;
  padding: 15px;
  width: 100%;
  background-color: #dcf6ff;
  border-radius: 20px;
  border: 2px solid #96b8c5;
}
.gran-form input [type="submit"]{
  background-color: #96b8c5;
  border: #96b8c5;
  font-size: 150%;
}
input[type=text]:focus, input[type=date]:focus, input[type=number]:focus {
  background-color: #0087b8 70%;
  border: 2px solid #0072bb;
}
/*creditos*/
.creditos{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-around;
}
.creditos div{
  width: 28%;
  border: 5px solid #0072bb;
}
.creditos div img{
  width: 100%;
}
.creditos div h3{
  text-align: center;
  color:#0087b8 ;
}
.creditos div p{
  text-align: center;
}
.creditos main{
  margin: 3%;
  background-color: rgb(255, 255, 149);
  border: 2px solid black;
}
/**/